<ion-view>
    <ion-content>
        <div class="item item-input">
            <a href="#/tab/dash" class="back"><span class="ion-chevron-left"></span> &nbsp; &nbsp; </a>
            <input type="text" placeholder="Please select delivery location">
        </div>
        <div class="item ">
            <a href="#/tab/dash" class="back"><span class="ion-location" style="font-size: 30px;"
                    ng-controller="DashCtrl" ng-click="getLocation()"></span> &nbsp; &nbsp;Current Location</a>
        </div>
    </ion-content>
</ion-view>