<ion-modal-view>
  <ion-header-bar class="bar-head">
    <a href="#/tab/account" class="background"><span class="ion-arrow-left-c "></span></a>
    <span class="font heading">Login</span>
  </ion-header-bar>
  <ion-content>
    <div id="login">
      <img src="img/logo.png" id="logo">
      <form ng-submit="doLogin()">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span> Phone</span><span style="color: red;">*</span><br>
            <input type="number" placeholder="1234567890" ng-model="loginData.phone" ng-required="true">
          </label>
          <label class="item item-input item-stacked-label">
            <span> Password</span><span style="color: red;">*</span>
            <input type="password" placeholder="A$sdh2345#" ng-model="loginData.password" ng-required="true">
          </label>
        </div>
        <div style="color: red;">{{message}}</div><br>
        <input type="checkbox"> I agree with <a>terms and condition</a>
        <button type="submit" class="button button-block button-balanced">
          Login
        </button>
      </form>
      <button type="button" class="button button-block button-royal" ng-click="register()">
        Register
      </button>
      <h4> or </h4>

      You can also login with<br>
      <img src="img/facebook.png" class="social"> &nbsp;
      <img src="img/gmail.png" class="social"> &nbsp;
      <img src="img/instagram.jfif" class="social">
    </div>
  </ion-content>
</ion-modal-view>