<ion-view>
  <ion-header-bar class="bar-head">
    <div class="row" ng-controller="DashCtrl">
      <div class="col col-60 del-head">
        <a href="#/tab/location" class="loc {{showClass1}}">
          <span>DELIVER TO: <i class="ion-chevron-down"> </i><br>
            {{location1}}</span>
        </a>
        <a href="#" class="loc {{showClass2}}">
          <span>PICKUP FROM: <i class="ion-chevron-down"> </i><br>
            {{location2}}</span>
        </a>
      </div>
      <div class="col">
        <h5 class="font font-c {{changeDeco1}}" ng-click="changeDecoration1()">DELIVERY</h5>
      </div>
      <div class="col">
        <h5 class="font font-c {{changeDeco2}}" ng-click="changeDecoration2()">PICKUP</h5>
      </div>
    </div>

  </ion-header-bar>

  <ion-content>
    <ion-slide-box slide-interval="3000" auto-play='true' does-continue='true'>
      <ion-slide>
        <img ng-src="img/Salad.jfif" class="img-slide">
      </ion-slide>
      <ion-slide>
        <img ng-src="img/Pizza.jfif" class="img-slide">
      </ion-slide>
      <ion-slide>
        <img ng-src="img/Chiken.jfif" class="img-slide">
      </ion-slide>
      <ion-slide>
        <img ng-src="img/Burger.png" class="img-slide">
      </ion-slide>
    </ion-slide-box>
    <div class="padding font">
      <h3>Categories</h3>
    </div>
    <div class="row ">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/BBureger.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Classic Combo</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Burger.png" class="img-grid">
          <h5 class="second-txt"> &nbsp;Fusion Combo</h5>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Fish.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Try New</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Sandwitch.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Sandwiches</h5>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Salad.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Salads</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Ffast.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Fusion Range</h5>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Pizza.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;BFF Combo's</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Salad.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Signature Wraps</h5>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>