<ion-view>
  <ion-header-bar class="bar-head">
    <div>
      <input type="text" placeholder=" &nbsp; Search" size="38%" class="searchbar" /><br>
    </div>
  </ion-header-bar>
  <ion-content>
    <br>
    <div class="padding font">
      <h3>Browse Categories</h3>
    </div>
    <div class="row ">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/BBureger.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Classic Combo</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Burger.png" class="img-grid">
          <h5 class="second-txt"> &nbsp;Fusion Combo</h5>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Fish.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Try New</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Sandwitch.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Sandwiches</h5>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Salad.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Salads</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Ffast.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Fusion Range</h5>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Pizza.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;BFF Combo's</h5>
        </a>
      </div>
      <div class="col col-50 container">
        <a href="#/tab/categories">
          <img src="img/Salad.jfif" class="img-grid">
          <h5 class="second-txt"> &nbsp;Signature Wraps</h5>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>